In [97]:
import sys
import pandas as pd
from pandas import DataFrame
import matplotlib.pyplot as plt
%matplotlib inline

In [98]:
df_b = pd.read_csv("SQLdata.csv")
df_w = pd.read_csv("weatherdata.csv")

In [ ]:
df_historical

In [99]:
df_b

,Station,Station Address,Station No.,Status,Time,Stands,Bikes Avail,Spaces Avail,Bank
0,SMITHFIELD NORTH,Smithfield North,42.0,OPEN,1520432286000,30,5,25,1
1,PARNELL SQUARE NORTH,Parnell Square North,30.0,OPEN,1520431893000,20,3,17,1
2,CLONMEL STREET,Clonmel Street,54.0,OPEN,1520432004000,33,19,14,0
3,MOUNT STREET LOWER,Mount Street Lower,56.0,OPEN,1520432361000,40,26,12,0
4,CHRISTCHURCH PLACE,Christchurch Place,6.0,OPEN,1520431786000,20,1,19,0
5,GRANTHAM STREET,Grantham Street,18.0,OPEN,1520432082000,30,0,30,1
6,PEARSE STREET,Pearse Street,32.0,OPEN,1520432209000,30,22,8,1
7,YORK STREET EAST,York Street East,52.0,OPEN,1520431998000,32,32,0,0
8,EXCISE WALK,Excise Walk,48.0,OPEN,1520432309000,40,38,0,0
9,FITZWILLIAM SQUARE WEST,Fitzwilliam Square West,13.0,OPEN,1520432330000,30,26,4,0
10,PORTOBELLO ROAD,Portobello Road,43.0,OPEN,1520432320000,30,3,27,1
11,ST. JAMES HOSPITAL (CENTRAL),St. James Hospital (Central),81.0,OPEN,1520432081000,40,2,38,0
12,PARNELL STREET,Parnell Street,31.0,OPEN,1520432315000,20,1,19,0
13,FREDERICK STREET SOUTH,Frederick Street South,98.0,OPEN,1520432273000,30,19,11,1
14,FOWNES STREET UPPER,Fownes Street Upper,14.0,OPEN,1520432325000,30,7,22,0
15,CLARENDON ROW,Clarendon Row,1.0,OPEN,1520432199000,31,30,1,0
16,CUSTOM HOUSE,Custom House,23.0,OPEN,1520432346000,30,22,8,1
17,HANOVER QUAY,Hanover Quay,68.0,OPEN,1520431829000,40,37,3,1
18,OLIVER BOND STREET,Oliver Bond Street,74.0,OPEN,1520432325000,30,7,23,0
19,COLLINS BARRACKS MUSEUM,Collins Barracks Museum,87.0,OPEN,1520432185000,38,2,36,1
20,BROOKFIELD ROAD,Brookfield Road,84.0,OPEN,1520432374000,30,0,30,0
21,BENSON STREET,Benson Street,90.0,OPEN,1520432260000,40,21,19,0
22,EARLSFORT TERRACE,Earlsfort Terrace,11.0,OPEN,1520432238000,30,25,5,0
23,GOLDEN LANE,Golden Lane,17.0,OPEN,1520432112000,20,7,13,0
24,DEVERELL PLACE,Deverell Place,45.0,OPEN,1520432167000,30,2,28,0
25,JOHN STREET WEST,John Street West,72.0,OPEN,1520431971000,31,3,28,0
26,FENIAN STREET,Fenian Street,63.0,OPEN,1520432303000,35,35,0,0
27,SOUTH DOCK ROAD,South Dock Road,91.0,OPEN,1520432248000,30,23,7,0
28,CITY QUAY,City Quay,99.0,OPEN,1520432342000,30,24,6,0
29,EXCHEQUER STREET,Exchequer Street,9.0,OPEN,1520432342000,24,15,8,0
...,...,...,...,...,...,...,...,...,...
135858,GRAND CANAL DOCK,Grand Canal Dock,69.0,OPEN,1521669477000,40,4,35,0
135859,MERRION SQUARE EAST,Merrion Square East,25.0,OPEN,1521669367000,30,7,23,0
135860,YORK STREET WEST,York Street West,51.0,OPEN,1521669291000,40,3,37,0
135861,ST. STEPHEN'S GREEN SOUTH,St. Stephen's Green South,37.0,OPEN,1521669168000,30,10,20,1
135862,DENMARK STREET GREAT,Denmark Street Great,59.0,OPEN,1521669489000,20,11,9,0
135863,ROYAL HOSPITAL,Royal Hospital,95.0,OPEN,1521669267000,40,30,10,1
135864,HEUSTON STATION (CAR PARK),Heuston Station (Car Park),94.0,OPEN,1521669141000,40,33,7,0
135865,ST. STEPHEN'S GREEN EAST,St. Stephen's Green East,36.0,OPEN,1521669453000,40,9,31,1
135866,HEUSTON STATION (CENTRAL),Heuston Station (Central),93.0,OPEN,1521669333000,40,40,0,0
135867,TOWNSEND STREET,Townsend Street,22.0,OPEN,1521669136000,20,14,6,0
135868,ECCLES STREET,Eccles Street,12.0,OPEN,1521669163000,20,9,11,0
135869,PORTOBELLO HARBOUR,Portobello Harbour,34.0,OPEN,1521669507000,30,23,7,0
135870,MATER HOSPITAL,Mater Hospital,78.0,OPEN,1521669047000,40,31,9,0
135871,BLESSINGTON STREET,Blessington Street,2.0,OPEN,1521669566000,20,7,13,1
135872,JAMES STREET,James Street,75.0,OPEN,1521669042000,40,34,6,1
135873,MERRION SQUARE WEST,Merrion Square West,26.0,OPEN,1521669188000,20,5,15,1
135874,CONVENTION CENTRE,Convention Centre,65.0,OPEN,1521669505000,40,2,38,1
135875,HARDWICKE STREET,Hardwicke Street,15.0,OPEN,1521669454000,16,8,8,0
135876,PARKGATE STREET,Parkgate Street,86.0,OPEN,1521669530000,38,38,0,1
135877,SMITHFIELD,Smithfield,35.0,OPEN,1521669171000,30,17,13,0
135878,DAME STREET,Dame Street,10.0,OPEN,1521669175000,16,2,14,1
135879,HEUSTON BRIDGE (SOUTH),Heuston Bridge (South),100.0,OPEN,1521669285000,25,24,1,0
135880,CATHAL BRUGHA STREET,Cathal Brugha Street,24.0,OPEN,1521669298000,20,0,20,0
135881,SANDWITH STREET,Sandwith Street,64.0,CLOSED,1521669200000,40,0,0,1
135882,ROTHE ABBEY,Rothe Abbey,85.0,OPEN,1521669440000,35,21,14,1
135883,PRINCES STREET / O'CONNELL STREET,Princes Street / O'Connell Street,33.0,OPEN,1521669567000,23,8,15,1
135884,UPPER SHERRARD STREET,Upper Sherrard Street,44.0,OPEN,1521669239000,30,27,3,0
135885,FITZWILLIAM SQUARE EAST,Fitzwilliam Square East,89.0,CLOSED,1521669557000,40,0,0,1
135886,GRATTAN STREET,Grattan Street,57.0,OPEN,1521669186000,23,3,20,0
135887,ST JAMES HOSPITAL (LUAS),St James Hospital (Luas),80.0,OPEN,1521669392000,40,32,8,0

In [100]:
df_w

       temperature    rain              time
0             8.04  0.0050  14/03/2018 00:00
1             7.72  0.1050  14/03/2018 03:00
2             7.65  0.2600  14/03/2018 06:00
3             7.95  0.2350  14/03/2018 09:00
4             8.10  0.4750  14/03/2018 12:00
5             8.20  1.1400  14/03/2018 15:00
6             8.23  1.5100  14/03/2018 18:00
7             8.22  1.3650  14/03/2018 21:00
8             8.45  0.7800  15/03/2018 00:00
9             8.24  2.3900  15/03/2018 03:00
10            7.94  1.0900  15/03/2018 06:00
11            8.08  0.1800  15/03/2018 09:00
12            8.34  0.0000  15/03/2018 12:00
13            8.12  0.0400  15/03/2018 15:00
14            7.60  0.0500  15/03/2018 18:00
15            7.38  0.0900  15/03/2018 21:00
16            7.21  0.0400  16/03/2018 00:00
17            7.17  0.0200  16/03/2018 03:00
18            7.07  0.5900  16/03/2018 06:00
19            7.58  0.5200  16/03/2018 09:00
20            7.97  0.0200  16/03/2018 12:00
21            7.60  0.1600  16/03/2018 15:00
22            6.60  0.7100  16/03/2018 18:00
23            5.34  1.0300  16/03/2018 21:00
24            4.41  1.1050  17/03/2018 00:00
25            4.10  0.3500  17/03/2018 03:00
26            3.52  0.0875  17/03/2018 06:00
27            2.97  0.4125  17/03/2018 09:00
28            3.18  0.2750  17/03/2018 12:00
29            3.27  0.9500  17/03/2018 15:00
...            ...     ...               ...
32447         3.55  0.0000  05/04/2018 06:00
32448         5.24  0.0050  05/04/2018 09:00
32449         6.72  0.0000  05/04/2018 12:00
32450         7.10  0.0000  05/04/2018 15:00
32451         7.03  0.0000  05/04/2018 18:00
32452         7.31  0.0000  05/04/2018 21:00
32453         7.07  0.0000  06/04/2018 00:00
32454         7.35  0.1500  06/04/2018 03:00
32455         7.47  0.6600  06/04/2018 06:00
32456         7.70  0.4500  06/04/2018 09:00
32457         7.96  0.8500  06/04/2018 12:00
32458         8.51  1.0800  06/04/2018 15:00
32459         8.69  1.4500  06/04/2018 18:00
32460         8.54  2.2700  06/04/2018 21:00
32461         8.31  0.2300  07/04/2018 00:00
32462         8.09  0.0400  07/04/2018 03:00
32463         8.00  0.0400  07/04/2018 06:00
32464         8.03  0.0900  07/04/2018 09:00
32465         8.24  0.6500  07/04/2018 12:00
32466         8.99  0.0600  07/04/2018 15:00
32467         8.62  0.0100  07/04/2018 18:00
32468         8.22  0.0500  07/04/2018 21:00
32469         8.25  0.3300  08/04/2018 00:00
32470         7.93  0.8400  08/04/2018 03:00
32471         7.91  2.8200  08/04/2018 06:00
32472         8.22  0.1900  08/04/2018 09:00
32473         8.25  0.7300  08/04/2018 12:00
32474         8.45  0.1200  08/04/2018 15:00
32475         8.52  0.1700  08/04/2018 18:00
32476         8.45  0.2600  08/04/2018 21:00

[32477 rows x 3 columns]

In [101]:
print(df_w.groupby('time')['temperature'].mean())

time
01/04/2018 00:00    5.931509
01/04/2018 03:00    5.541835
01/04/2018 06:00    5.195580
01/04/2018 09:00    5.306195
01/04/2018 12:00    5.366460
01/04/2018 15:00    5.551372
01/04/2018 18:00    5.751586
01/04/2018 21:00    5.908855
02/04/2018 00:00    5.577453
02/04/2018 03:00    5.013624
02/04/2018 06:00    4.573649
02/04/2018 09:00    5.285000
02/04/2018 12:00    6.216800
02/04/2018 15:00    6.546920
02/04/2018 18:00    6.642187
02/04/2018 21:00    6.406261
03/04/2018 00:00    6.376202
03/04/2018 03:00    6.314439
03/04/2018 06:00    6.327727
03/04/2018 09:00    6.768750
03/04/2018 12:00    7.447252
03/04/2018 15:00    7.818604
03/04/2018 18:00    7.848251
03/04/2018 21:00    7.327668
04/04/2018 00:00    6.875025
04/04/2018 03:00    6.252315
04/04/2018 06:00    6.023498
04/04/2018 09:00    6.123500
04/04/2018 12:00    6.680361
04/04/2018 15:00    6.561053
                      ...
28/03/2018 06:00    5.331023
28/03/2018 09:00    5.881318
28/03/2018 12:00    7.244480
28/03/2018 15:00    7.660721
28/03/2018 18:00    7.270622
28/03/2018 21:00    6.380978
29/03/2018 00:00    5.645742
29/03/2018 03:00    5.433488
29/03/2018 06:00    5.527955
29/03/2018 09:00    6.320223
29/03/2018 12:00    6.312222
29/03/2018 15:00    6.454489
29/03/2018 18:00    6.691696
29/03/2018 21:00    6.549911
30/03/2018 00:00    6.096085
30/03/2018 03:00    5.998853
30/03/2018 06:00    5.846071
30/03/2018 09:00    5.950044
30/03/2018 12:00    6.442379
30/03/2018 15:00    6.650310
30/03/2018 18:00    6.523584
30/03/2018 21:00    6.203067
31/03/2018 00:00    6.230619
31/03/2018 03:00    5.873426
31/03/2018 06:00    5.525000
31/03/2018 09:00    5.715089
31/03/2018 12:00    6.164735
31/03/2018 15:00    6.799956
31/03/2018 18:00    6.678414
31/03/2018 21:00    6.387269
Name: temperature, Length: 208, dtype: float64

In [102]:
df_bikes=df_b.drop(['Station','Station Address'],axis =1)

In [103]:
df_weather= df_w.drop_duplicates()

In [104]:
df_weather= df_w.drop_duplicates('time')

In [105]:
len(df_weather)

208

In [106]:
import time
pattern='%d/%m/%Y %H:%M'

In [107]:
#There are a little difference between tamp in weather and bike Since the bike time has accuacy in millseconds
TimestampWeather=[]
for index, row in df_weather.iterrows():
    TimestampWeather.append(int(time.mktime(time.strptime(row['time'],pattern))* 1000))

In [108]:
len(TimestampWeather)

208

In [109]:
TimestampWeather

[1520985600000,
 1520996400000,
 1521007200000,
 1521018000000,
 1521028800000,
 1521039600000,
 1521050400000,
 1521061200000,
 1521072000000,
 1521082800000,
 1521093600000,
 1521104400000,
 1521115200000,
 1521126000000,
 1521136800000,
 1521147600000,
 1521158400000,
 1521169200000,
 1521180000000,
 1521190800000,
 1521201600000,
 1521212400000,
 1521223200000,
 1521234000000,
 1521244800000,
 1521255600000,
 1521266400000,
 1521277200000,
 1521288000000,
 1521298800000,
 1521309600000,
 1521320400000,
 1521331200000,
 1521342000000,
 1521352800000,
 1521363600000,
 1521374400000,
 1521385200000,
 1521396000000,
 1521406800000,
 1521417600000,
 1521428400000,
 1521439200000,
 1521450000000,
 1521460800000,
 1521471600000,
 1521482400000,
 1521493200000,
 1521504000000,
 1521514800000,
 1521525600000,
 1521536400000,
 1521547200000,
 1521558000000,
 1521568800000,
 1521579600000,
 1521590400000,
 1521601200000,
 1521612000000,
 1521622800000,
 1521633600000,
 1521644400000,
 1521655200000,
 1521666000000,
 1521676800000,
 1521687600000,
 1521698400000,
 1521709200000,
 1521720000000,
 1521730800000,
 1521741600000,
 1521752400000,
 1521763200000,
 1521774000000,
 1521784800000,
 1521795600000,
 1521806400000,
 1521817200000,
 1521828000000,
 1521838800000,
 1521849600000,
 1521860400000,
 1521871200000,
 1521882000000,
 1521892800000,
 1521903600000,
 1521914400000,
 1521925200000,
 1521936000000,
 1521943200000,
 1521954000000,
 1521964800000,
 1521975600000,
 1521986400000,
 1521997200000,
 1522008000000,
 1522018800000,
 1522029600000,
 1522040400000,
 1522051200000,
 1522062000000,
 1522072800000,
 1522083600000,
 1522094400000,
 1522105200000,
 1522116000000,
 1522126800000,
 1522137600000,
 1522148400000,
 1522159200000,
 1522170000000,
 1522180800000,
 1522191600000,
 1522202400000,
 1522213200000,
 1522224000000,
 1522234800000,
 1522245600000,
 1522256400000,
 1522267200000,
 1522278000000,
 1522288800000,
 1522299600000,
 1522310400000,
 1522321200000,
 1522332000000,
 1522342800000,
 1522353600000,
 1522364400000,
 1522375200000,
 1522386000000,
 1522396800000,
 1522407600000,
 1522418400000,
 1522429200000,
 1522440000000,
 1522450800000,
 1522461600000,
 1522472400000,
 1522483200000,
 1522494000000,
 1522504800000,
 1522515600000,
 1522526400000,
 1522537200000,
 1522548000000,
 1522558800000,
 1522569600000,
 1522580400000,
 1522591200000,
 1522602000000,
 1522612800000,
 1522623600000,
 1522634400000,
 1522645200000,
 1522656000000,
 1522666800000,
 1522677600000,
 1522688400000,
 1522699200000,
 1522710000000,
 1522720800000,
 1522731600000,
 1522742400000,
 1522753200000,
 1522764000000,
 1522774800000,
 1522785600000,
 1522796400000,
 1522807200000,
 1522818000000,
 1522828800000,
 1522839600000,
 1522850400000,
 1522861200000,
 1522872000000,
 1522882800000,
 1522893600000,
 1522904400000,
 1522915200000,
 1522926000000,
 1522936800000,
 1522947600000,
 1522958400000,
 1522969200000,
 1522980000000,
 1522990800000,
 1523001600000,
 1523012400000,
 1523023200000,
 1523034000000,
 1523044800000,
 1523055600000,
 1523066400000,
 1523077200000,
 1523088000000,
 1523098800000,
 1523109600000,
 1523120400000,
 1523131200000,
 1523142000000,
 1523152800000,
 1523163600000,
 1523174400000,
 1523185200000,
 1523196000000,
 1523206800000,
 1523217600000]

In [110]:
df_weather["tamp"] = TimestampWeather

/home/wu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [111]:
df_weather.head()

   temperature   rain              time           tamp
0         8.04  0.005  14/03/2018 00:00  1520985600000
1         7.72  0.105  14/03/2018 03:00  1520996400000
2         7.65  0.260  14/03/2018 06:00  1521007200000
3         7.95  0.235  14/03/2018 09:00  1521018000000
4         8.10  0.475  14/03/2018 12:00  1521028800000

In [112]:
df_weather.drop_duplicates('tamp')

       temperature    rain              time           tamp
0             8.04  0.0050  14/03/2018 00:00  1520985600000
1             7.72  0.1050  14/03/2018 03:00  1520996400000
2             7.65  0.2600  14/03/2018 06:00  1521007200000
3             7.95  0.2350  14/03/2018 09:00  1521018000000
4             8.10  0.4750  14/03/2018 12:00  1521028800000
5             8.20  1.1400  14/03/2018 15:00  1521039600000
6             8.23  1.5100  14/03/2018 18:00  1521050400000
7             8.22  1.3650  14/03/2018 21:00  1521061200000
8             8.45  0.7800  15/03/2018 00:00  1521072000000
9             8.24  2.3900  15/03/2018 03:00  1521082800000
10            7.94  1.0900  15/03/2018 06:00  1521093600000
11            8.08  0.1800  15/03/2018 09:00  1521104400000
12            8.34  0.0000  15/03/2018 12:00  1521115200000
13            8.12  0.0400  15/03/2018 15:00  1521126000000
14            7.60  0.0500  15/03/2018 18:00  1521136800000
15            7.38  0.0900  15/03/2018 21:00  1521147600000
16            7.21  0.0400  16/03/2018 00:00  1521158400000
17            7.17  0.0200  16/03/2018 03:00  1521169200000
18            7.07  0.5900  16/03/2018 06:00  1521180000000
19            7.58  0.5200  16/03/2018 09:00  1521190800000
20            7.97  0.0200  16/03/2018 12:00  1521201600000
21            7.60  0.1600  16/03/2018 15:00  1521212400000
22            6.60  0.7100  16/03/2018 18:00  1521223200000
23            5.34  1.0300  16/03/2018 21:00  1521234000000
24            4.41  1.1050  17/03/2018 00:00  1521244800000
25            4.10  0.3500  17/03/2018 03:00  1521255600000
26            3.52  0.0875  17/03/2018 06:00  1521266400000
27            2.97  0.4125  17/03/2018 09:00  1521277200000
28            3.18  0.2750  17/03/2018 12:00  1521288000000
29            3.27  0.9500  17/03/2018 15:00  1521298800000
...            ...     ...               ...            ...
26236         5.09  0.0000  05/04/2018 06:00  1522904400000
26316         5.90  0.0000  05/04/2018 09:00  1522915200000
26556         7.38  0.0000  05/04/2018 12:00  1522926000000
26796         6.91  0.3900  05/04/2018 15:00  1522936800000
26996         8.64  1.6700  05/04/2018 18:00  1522947600000
27236         9.44  0.9700  05/04/2018 21:00  1522958400000
28044         7.29  0.0900  06/04/2018 00:00  1522969200000
28045         7.60  0.5200  06/04/2018 03:00  1522980000000
28046         7.56  0.9700  06/04/2018 06:00  1522990800000
28126         7.64  1.0700  06/04/2018 09:00  1523001600000
28366         9.27  0.6900  06/04/2018 12:00  1523012400000
28606         9.82  0.0700  06/04/2018 15:00  1523023200000
28846         9.55  0.0800  06/04/2018 18:00  1523034000000
29086         9.31  0.0300  06/04/2018 21:00  1523044800000
29821         8.22  0.0400  07/04/2018 00:00  1523055600000
29822         8.06  0.0600  07/04/2018 03:00  1523066400000
29823         8.16  0.1700  07/04/2018 06:00  1523077200000
29940         8.41  0.2600  07/04/2018 09:00  1523088000000
30140         8.59  0.4400  07/04/2018 12:00  1523098800000
30340         8.61  0.0700  07/04/2018 15:00  1523109600000
30580         8.31  0.1000  07/04/2018 18:00  1523120400000
30740         8.16  0.8600  07/04/2018 21:00  1523131200000
31514         8.25  0.3300  08/04/2018 00:00  1523142000000
31515         7.93  0.8400  08/04/2018 03:00  1523152800000
31516         7.91  2.8200  08/04/2018 06:00  1523163600000
31636         8.22  0.1900  08/04/2018 09:00  1523174400000
31796         8.25  0.7300  08/04/2018 12:00  1523185200000
31996         8.45  0.1200  08/04/2018 15:00  1523196000000
32236         8.52  0.1700  08/04/2018 18:00  1523206800000
32476         8.45  0.2600  08/04/2018 21:00  1523217600000

[208 rows x 4 columns]

In [113]:
time = []
import datetime
for index, row in df_bikes.iterrows():
    time.append(datetime.datetime.fromtimestamp(int(row["Time"]/1000)).strftime('%d/%m/%Y %H:%M:%S'))
time[0:5]

['07/03/2018 14:18:06',
 '07/03/2018 14:11:33',
 '07/03/2018 14:13:24',
 '07/03/2018 14:19:21',
 '07/03/2018 14:09:46']

In [114]:
df_bikes["human_readible"] = time

In [115]:
df_bikes.to_csv("haha.csv",index=False)

In [95]:
plot=df_bikes.groupby('human_readible')['Stands'].mean()
plot.draw(

TypeError: 'module' object is not callable

In [79]:
import numpy as np
weather_tamp=[]
weather_rain=[]
weather_temperature = []
weather_time =[]
for index, row in df_bikes.iterrows():
    myNumber = row["Time"]
    closestTime = min(TimestampWeather, key = lambda x : abs(x-myNumber))
    if abs(myNumber-closestTime) >(3 * 60 * 60 * 1000):
        weather_time.append(np.nan)
        weather_rain.append(np.nan)
        weather_temperature.append(np.nan)
        weather_tamp.append(np.nan)
    else:
        weather_tamp.append(closestTime)
        weather_rain.append(df_weather.loc[df_weather['tamp'] == closestTime,'rain'].item())
        weather_temperature.append(df_weather.loc[df_weather['tamp'] == closestTime,'temperature'].item())
        weather_time.append(df_weather.loc[df_weather['tamp'] == closestTime,'time'].item())

In [80]:
weather_tamp.count(np.nan)

98300

In [81]:
len(weather_tamp)

135888

In [82]:
df_bikes["weather_tamp"] = pd.Series(weather_tamp).values
df_bikes["weather_rain"] = pd.Series(weather_rain).values
df_bikes["weather_temperature"] =pd.Series(weather_temperature).values
df_bikes["weather_time"]=pd.Series(weather_time).values

In [83]:
df_bikes.head(20)

,Station No.,Status,Time,Stands,Bikes Avail,Spaces Avail,Bank,human_readible,weather_tamp,weather_rain,weather_temperature,weather_time
0,42.0,OPEN,1520432286000,30,5,25,1,07/03/2018 14:18:06,NaN,NaN,NaN,NaN
1,30.0,OPEN,1520431893000,20,3,17,1,07/03/2018 14:11:33,NaN,NaN,NaN,NaN
2,54.0,OPEN,1520432004000,33,19,14,0,07/03/2018 14:13:24,NaN,NaN,NaN,NaN
3,56.0,OPEN,1520432361000,40,26,12,0,07/03/2018 14:19:21,NaN,NaN,NaN,NaN
4,6.0,OPEN,1520431786000,20,1,19,0,07/03/2018 14:09:46,NaN,NaN,NaN,NaN
5,18.0,OPEN,1520432082000,30,0,30,1,07/03/2018 14:14:42,NaN,NaN,NaN,NaN
6,32.0,OPEN,1520432209000,30,22,8,1,07/03/2018 14:16:49,NaN,NaN,NaN,NaN
7,52.0,OPEN,1520431998000,32,32,0,0,07/03/2018 14:13:18,NaN,NaN,NaN,NaN
8,48.0,OPEN,1520432309000,40,38,0,0,07/03/2018 14:18:29,NaN,NaN,NaN,NaN
9,13.0,OPEN,1520432330000,30,26,4,0,07/03/2018 14:18:50,NaN,NaN,NaN,NaN
10,43.0,OPEN,1520432320000,30,3,27,1,07/03/2018 14:18:40,NaN,NaN,NaN,NaN
11,81.0,OPEN,1520432081000,40,2,38,0,07/03/2018 14:14:41,NaN,NaN,NaN,NaN
12,31.0,OPEN,1520432315000,20,1,19,0,07/03/2018 14:18:35,NaN,NaN,NaN,NaN
13,98.0,OPEN,1520432273000,30,19,11,1,07/03/2018 14:17:53,NaN,NaN,NaN,NaN
14,14.0,OPEN,1520432325000,30,7,22,0,07/03/2018 14:18:45,NaN,NaN,NaN,NaN
15,1.0,OPEN,1520432199000,31,30,1,0,07/03/2018 14:16:39,NaN,NaN,NaN,NaN
16,23.0,OPEN,1520432346000,30,22,8,1,07/03/2018 14:19:06,NaN,NaN,NaN,NaN
17,68.0,OPEN,1520431829000,40,37,3,1,07/03/2018 14:10:29,NaN,NaN,NaN,NaN
18,74.0,OPEN,1520432325000,30,7,23,0,07/03/2018 14:18:45,NaN,NaN,NaN,NaN
19,87.0,OPEN,1520432185000,38,2,36,1,07/03/2018 14:16:25,NaN,NaN,NaN,NaN

In [84]:
weather_time.count(np.nan)

98300

In [85]:
df_bikes_clean=df_bikes.dropna(how ='any')

In [86]:
df_bikes_clean

,Station No.,Status,Time,Stands,Bikes Avail,Spaces Avail,Bank,human_readible,weather_tamp,weather_rain,weather_temperature,weather_time
98600,42.0,OPEN,1521067890000,30,8,22,1,14/03/2018 22:51:30,1.521072e+12,0.78,8.45,15/03/2018 00:00
98601,30.0,OPEN,1521067766000,20,20,0,1,14/03/2018 22:49:26,1.521072e+12,0.78,8.45,15/03/2018 00:00
98602,54.0,OPEN,1521067686000,33,2,31,0,14/03/2018 22:48:06,1.521072e+12,0.78,8.45,15/03/2018 00:00
98603,56.0,OPEN,1521067753000,40,7,33,0,14/03/2018 22:49:13,1.521072e+12,0.78,8.45,15/03/2018 00:00
98604,6.0,OPEN,1521067657000,20,6,14,0,14/03/2018 22:47:37,1.521072e+12,0.78,8.45,15/03/2018 00:00
98605,18.0,OPEN,1521067840000,30,6,24,1,14/03/2018 22:50:40,1.521072e+12,0.78,8.45,15/03/2018 00:00
98606,32.0,OPEN,1521067405000,30,0,30,1,14/03/2018 22:43:25,1.521072e+12,0.78,8.45,15/03/2018 00:00
98607,52.0,OPEN,1521067635000,32,5,27,0,14/03/2018 22:47:15,1.521072e+12,0.78,8.45,15/03/2018 00:00
98608,48.0,OPEN,1521067908000,40,10,30,0,14/03/2018 22:51:48,1.521072e+12,0.78,8.45,15/03/2018 00:00
98609,13.0,OPEN,1521067384000,30,0,30,0,14/03/2018 22:43:04,1.521072e+12,0.78,8.45,15/03/2018 00:00
98610,43.0,OPEN,1521067635000,30,20,10,1,14/03/2018 22:47:15,1.521072e+12,0.78,8.45,15/03/2018 00:00
98611,81.0,OPEN,1521067773000,40,37,3,0,14/03/2018 22:49:33,1.521072e+12,0.78,8.45,15/03/2018 00:00
98612,31.0,OPEN,1521067495000,20,4,16,0,14/03/2018 22:44:55,1.521072e+12,0.78,8.45,15/03/2018 00:00
98613,98.0,OPEN,1521067446000,30,1,29,1,14/03/2018 22:44:06,1.521072e+12,0.78,8.45,15/03/2018 00:00
98614,14.0,OPEN,1521067616000,30,10,20,0,14/03/2018 22:46:56,1.521072e+12,0.78,8.45,15/03/2018 00:00
98615,1.0,OPEN,1521067845000,31,7,24,0,14/03/2018 22:50:45,1.521072e+12,0.78,8.45,15/03/2018 00:00
98616,23.0,OPEN,1521067629000,30,5,25,1,14/03/2018 22:47:09,1.521072e+12,0.78,8.45,15/03/2018 00:00
98617,68.0,OPEN,1521067796000,40,3,37,1,14/03/2018 22:49:56,1.521072e+12,0.78,8.45,15/03/2018 00:00
98618,74.0,OPEN,1521067385000,30,24,6,0,14/03/2018 22:43:05,1.521072e+12,0.78,8.45,15/03/2018 00:00
98619,87.0,OPEN,1521067643000,38,18,20,1,14/03/2018 22:47:23,1.521072e+12,0.78,8.45,15/03/2018 00:00
98620,84.0,OPEN,1521067926000,30,16,14,0,14/03/2018 22:52:06,1.521072e+12,0.78,8.45,15/03/2018 00:00
98621,90.0,CLOSED,1521067834000,40,0,0,0,14/03/2018 22:50:34,1.521072e+12,0.78,8.45,15/03/2018 00:00
98622,11.0,OPEN,1521067386000,30,0,30,0,14/03/2018 22:43:06,1.521072e+12,0.78,8.45,15/03/2018 00:00
98623,17.0,OPEN,1521067783000,20,8,12,0,14/03/2018 22:49:43,1.521072e+12,0.78,8.45,15/03/2018 00:00
98624,45.0,OPEN,1521067384000,30,17,13,0,14/03/2018 22:43:04,1.521072e+12,0.78,8.45,15/03/2018 00:00
98625,72.0,OPEN,1521067747000,31,28,3,0,14/03/2018 22:49:07,1.521072e+12,0.78,8.45,15/03/2018 00:00
98626,63.0,OPEN,1521067908000,35,1,34,0,14/03/2018 22:51:48,1.521072e+12,0.78,8.45,15/03/2018 00:00
98627,91.0,OPEN,1521067794000,30,3,27,0,14/03/2018 22:49:54,1.521072e+12,0.78,8.45,15/03/2018 00:00
98628,99.0,OPEN,1521067746000,30,5,25,0,14/03/2018 22:49:06,1.521072e+12,0.78,8.45,15/03/2018 00:00
98629,9.0,OPEN,1521067814000,24,0,24,0,14/03/2018 22:50:14,1.521072e+12,0.78,8.45,15/03/2018 00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
135858,69.0,OPEN,1521669477000,40,4,35,0,21/03/2018 21:57:57,1.521666e+12,0.33,9.22,21/03/2018 21:00
135859,25.0,OPEN,1521669367000,30,7,23,0,21/03/2018 21:56:07,1.521666e+12,0.33,9.22,21/03/2018 21:00
135860,51.0,OPEN,1521669291000,40,3,37,0,21/03/2018 21:54:51,1.521666e+12,0.33,9.22,21/03/2018 21:00
135861,37.0,OPEN,1521669168000,30,10,20,1,21/03/2018 21:52:48,1.521666e+12,0.33,9.22,21/03/2018 21:00
135862,59.0,OPEN,1521669489000,20,11,9,0,21/03/2018 21:58:09,1.521666e+12,0.33,9.22,21/03/2018 21:00
135863,95.0,OPEN,1521669267000,40,30,10,1,21/03/2018 21:54:27,1.521666e+12,0.33,9.22,21/03/2018 21:00
135864,94.0,OPEN,1521669141000,40,33,7,0,21/03/2018 21:52:21,1.521666e+12,0.33,9.22,21/03/2018 21:00
135865,36.0,OPEN,1521669453000,40,9,31,1,21/03/2018 21:57:33,1.521666e+12,0.33,9.22,21/03/2018 21:00
135866,93.0,OPEN,1521669333000,40,40,0,0,21/03/2018 21:55:33,1.521666e+12,0.33,9.22,21/03/2018 21:00
135867,22.0,OPEN,1521669136000,20,14,6,0,21/03/2018 21:52:16,1.521666e+12,0.33,9.22,21/03/2018 21:00
135868,12.0,OPEN,1521669163000,20,9,11,0,21/03/2018 21:52:43,1.521666e+12,0.33,9.22,21/03/2018 21:00
135869,34.0,OPEN,1521669507000,30,23,7,0,21/03/2018 21:58:27,1.521666e+12,0.33,9.22,21/03/2018 21:00
135870,78.0,OPEN,1521669047000,40,31,9,0,21/03/2018 21:50:47,1.521666e+12,0.33,9.22,21/03/2018 21:00
135871,2.0,OPEN,1521669566000,20,7,13,1,21/03/2018 21:59:26,1.521666e+12,0.33,9.22,21/03/2018 21:00
135872,75.0,OPEN,1521669042000,40,34,6,1,21/03/2018 21:50:42,1.521666e+12,0.33,9.22,21/03/2018 21:00
135873,26.0,OPEN,1521669188000,20,5,15,1,21/03/2018 21:53:08,1.521666e+12,0.33,9.22,21/03/2018 21:00
135874,65.0,OPEN,1521669505000,40,2,38,1,21/03/2018 21:58:25,1.521666e+12,0.33,9.22,21/03/2018 21:00
135875,15.0,OPEN,1521669454000,16,8,8,0,21/03/2018 21:57:34,1.521666e+12,0.33,9.22,21/03/2018 21:00
135876,86.0,OPEN,1521669530000,38,38,0,1,21/03/2018 21:58:50,1.521666e+12,0.33,9.22,21/03/2018 21:00
135877,35.0,OPEN,1521669171000,30,17,13,0,21/03/2018 21:52:51,1.521666e+12,0.33,9.22,21/03/2018 21:00
135878,10.0,OPEN,1521669175000,16,2,14,1,21/03/2018 21:52:55,1.521666e+12,0.33,9.22,21/03/2018 21:00
135879,100.0,OPEN,1521669285000,25,24,1,0,21/03/2018 21:54:45,1.521666e+12,0.33,9.22,21/03/2018 21:00
135880,24.0,OPEN,1521669298000,20,0,20,0,21/03/2018 21:54:58,1.521666e+12,0.33,9.22,21/03/2018 21:00
135881,64.0,CLOSED,1521669200000,40,0,0,1,21/03/2018 21:53:20,1.521666e+12,0.33,9.22,21/03/2018 21:00
135882,85.0,OPEN,1521669440000,35,21,14,1,21/03/2018 21:57:20,1.521666e+12,0.33,9.22,21/03/2018 21:00
135883,33.0,OPEN,1521669567000,23,8,15,1,21/03/2018 21:59:27,1.521666e+12,0.33,9.22,21/03/2018 21:00
135884,44.0,OPEN,1521669239000,30,27,3,0,21/03/2018 21:53:59,1.521666e+12,0.33,9.22,21/03/2018 21:00
135885,89.0,CLOSED,1521669557000,40,0,0,1,21/03/2018 21:59:17,1.521666e+12,0.33,9.22,21/03/2018 21:00
135886,57.0,OPEN,1521669186000,23,3,20,0,21/03/2018 21:53:06,1.521666e+12,0.33,9.22,21/03/2018 21:00
135887,80.0,OPEN,1521669392000,40,32,8,0,21/03/2018 21:56:32,1.521666e+12,0.33,9.22,21/03/2018 21:00

In [87]:
df_bikes_clean.to_csv('historic_mix2.csv', index = False)

In [89]:
df_bikes_clean.groupby("weather_time")["weather_rain"].mean()

weather_time
15/03/2018 00:00    0.78
15/03/2018 03:00    2.39
15/03/2018 06:00    1.09
15/03/2018 09:00    0.18
15/03/2018 12:00    0.00
15/03/2018 15:00    0.04
15/03/2018 18:00    0.05
15/03/2018 21:00    0.09
16/03/2018 00:00    0.04
21/03/2018 15:00    0.00
21/03/2018 18:00    0.08
21/03/2018 21:00    0.33
Name: weather_rain, dtype: float64