In [1]:
import sys
import pandas as pd
import numpy as np
from pandas import DataFrame
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df_h = pd.read_csv("mix.csv")
df_n = pd.read_csv("historic_mix.csv")

In [3]:
df_h.head()

,Unnamed: 0,STATION_NUMBER,TIME,STATUS,NUMBER_OF_BIKES,NUMBER_OF_STANDS,NUMBER_OF_SPACES,time,weather_tamp,weather_rain,weather_temperature,weather_time
0,0,42.0,1.522870e+12,OPEN,24.0,30.0,6.0,04/04/2018 20:29:32,1.522872e+12,0.0,5.62,04/04/2018 21:00
1,1,30.0,1.522870e+12,OPEN,14.0,20.0,6.0,04/04/2018 20:28:54,1.522872e+12,0.0,5.62,04/04/2018 21:00
2,2,54.0,1.522870e+12,OPEN,2.0,33.0,31.0,04/04/2018 20:29:32,1.522872e+12,0.0,5.62,04/04/2018 21:00
3,3,56.0,1.522870e+12,OPEN,15.0,40.0,25.0,04/04/2018 20:27:49,1.522872e+12,0.0,5.62,04/04/2018 21:00
4,4,6.0,1.522870e+12,OPEN,7.0,20.0,12.0,04/04/2018 20:29:27,1.522872e+12,0.0,5.62,04/04/2018 21:00

In [5]:
df_n.head()

,Station No.,Status,Time,Stands,Bikes Avail,Spaces Avail,Bank,human_readible,weather_tamp,weather_rain,weather_temperature,weather_time
0,42.0,OPEN,1521068603000,30,10,20,1,14/03/2018 23:03:23,1.521072e+12,0.78,8.45,15/03/2018 00:00
1,30.0,OPEN,1521068983000,20,20,0,1,14/03/2018 23:09:43,1.521072e+12,0.78,8.45,15/03/2018 00:00
2,54.0,OPEN,1521068619000,33,2,31,0,14/03/2018 23:03:39,1.521072e+12,0.78,8.45,15/03/2018 00:00
3,56.0,OPEN,1521068973000,40,6,34,0,14/03/2018 23:09:33,1.521072e+12,0.78,8.45,15/03/2018 00:00
4,6.0,OPEN,1521069146000,20,4,16,0,14/03/2018 23:12:26,1.521072e+12,0.78,8.45,15/03/2018 00:00

In [10]:
df_h.columns

Index(['Unnamed: 0', 'STATION_NUMBER', 'TIME', 'STATUS', 'NUMBER_OF_BIKES',
       'NUMBER_OF_STANDS', 'NUMBER_OF_SPACES', 'time', 'weather_tamp',
       'weather_rain', 'weather_temperature', 'weather_time'],
      dtype='object')

In [13]:
df_h=df_h.drop('Unnamed: 0',1)

In [14]:
df_h.dtypes

STATION_NUMBER         float64
TIME                   float64
STATUS                  object
NUMBER_OF_BIKES        float64
NUMBER_OF_STANDS       float64
NUMBER_OF_SPACES       float64
time                    object
weather_tamp           float64
weather_rain           float64
weather_temperature    float64
weather_time            object
dtype: object

In [17]:
df_h['STATION_NUMBER'] = df_h['STATION_NUMBER'].astype(np.int64)
df_h['TIME'] = df_h['TIME'].astype(np.int64)
df_h['NUMBER_OF_STANDS'] = df_h['NUMBER_OF_STANDS'].astype(np.int64)
df_h['NUMBER_OF_BIKES'] = df_h['NUMBER_OF_BIKES'].astype(np.int64)
df_h['NUMBER_OF_SPACES'] = df_h['NUMBER_OF_SPACES'].astype(np.int64)

In [15]:
df_n.columns

Index(['Station No.', 'Status', 'Time', 'Stands', 'Bikes Avail',
       'Spaces Avail', 'Bank', 'human_readible', 'weather_tamp',
       'weather_rain', 'weather_temperature', 'weather_time'],
      dtype='object')

In [18]:
df_h.head()

,STATION_NUMBER,TIME,STATUS,NUMBER_OF_BIKES,NUMBER_OF_STANDS,NUMBER_OF_SPACES,time,weather_tamp,weather_rain,weather_temperature,weather_time
0,42,1522870172000,OPEN,24,30,6,04/04/2018 20:29:32,1.522872e+12,0.0,5.62,04/04/2018 21:00
1,30,1522870134000,OPEN,14,20,6,04/04/2018 20:28:54,1.522872e+12,0.0,5.62,04/04/2018 21:00
2,54,1522870172000,OPEN,2,33,31,04/04/2018 20:29:32,1.522872e+12,0.0,5.62,04/04/2018 21:00
3,56,1522870069000,OPEN,15,40,25,04/04/2018 20:27:49,1.522872e+12,0.0,5.62,04/04/2018 21:00
4,6,1522870167000,OPEN,7,20,12,04/04/2018 20:29:27,1.522872e+12,0.0,5.62,04/04/2018 21:00

In [19]:
df_h.dropna(how='any')

,STATION_NUMBER,TIME,STATUS,NUMBER_OF_BIKES,NUMBER_OF_STANDS,NUMBER_OF_SPACES,time,weather_tamp,weather_rain,weather_temperature,weather_time
0,42,1522870172000,OPEN,24,30,6,04/04/2018 20:29:32,1.522872e+12,0.0,5.62,04/04/2018 21:00
1,30,1522870134000,OPEN,14,20,6,04/04/2018 20:28:54,1.522872e+12,0.0,5.62,04/04/2018 21:00
2,54,1522870172000,OPEN,2,33,31,04/04/2018 20:29:32,1.522872e+12,0.0,5.62,04/04/2018 21:00
3,56,1522870069000,OPEN,15,40,25,04/04/2018 20:27:49,1.522872e+12,0.0,5.62,04/04/2018 21:00
4,6,1522870167000,OPEN,7,20,12,04/04/2018 20:29:27,1.522872e+12,0.0,5.62,04/04/2018 21:00
5,18,1522870158000,OPEN,3,30,27,04/04/2018 20:29:18,1.522872e+12,0.0,5.62,04/04/2018 21:00
6,32,1522870041000,OPEN,10,30,20,04/04/2018 20:27:21,1.522872e+12,0.0,5.62,04/04/2018 21:00
7,52,1522869917000,OPEN,1,32,31,04/04/2018 20:25:17,1.522872e+12,0.0,5.62,04/04/2018 21:00
8,48,1522869656000,OPEN,5,40,34,04/04/2018 20:20:56,1.522872e+12,0.0,5.62,04/04/2018 21:00
9,13,1522869756000,OPEN,6,30,24,04/04/2018 20:22:36,1.522872e+12,0.0,5.62,04/04/2018 21:00
10,43,1522870095000,OPEN,16,30,14,04/04/2018 20:28:15,1.522872e+12,0.0,5.62,04/04/2018 21:00
11,81,1522869752000,OPEN,36,40,4,04/04/2018 20:22:32,1.522872e+12,0.0,5.62,04/04/2018 21:00
12,31,1522869818000,OPEN,8,20,11,04/04/2018 20:23:38,1.522872e+12,0.0,5.62,04/04/2018 21:00
13,98,1522869840000,OPEN,0,30,30,04/04/2018 20:24:00,1.522872e+12,0.0,5.62,04/04/2018 21:00
14,14,1522869649000,OPEN,3,30,27,04/04/2018 20:20:49,1.522872e+12,0.0,5.62,04/04/2018 21:00
15,1,1522869876000,OPEN,0,31,31,04/04/2018 20:24:36,1.522872e+12,0.0,5.62,04/04/2018 21:00
16,23,1522869912000,OPEN,17,30,13,04/04/2018 20:25:12,1.522872e+12,0.0,5.62,04/04/2018 21:00
17,68,1522869972000,OPEN,1,40,38,04/04/2018 20:26:12,1.522872e+12,0.0,5.62,04/04/2018 21:00
18,74,1522869586000,OPEN,25,30,5,04/04/2018 20:19:46,1.522872e+12,0.0,5.62,04/04/2018 21:00
19,87,1522870157000,OPEN,38,38,0,04/04/2018 20:29:17,1.522872e+12,0.0,5.62,04/04/2018 21:00
20,84,1522869970000,OPEN,28,30,2,04/04/2018 20:26:10,1.522872e+12,0.0,5.62,04/04/2018 21:00
21,90,1522870097000,CLOSED,0,40,0,04/04/2018 20:28:17,1.522872e+12,0.0,5.62,04/04/2018 21:00
22,11,1522870160000,OPEN,0,30,30,04/04/2018 20:29:20,1.522872e+12,0.0,5.62,04/04/2018 21:00
23,17,1522869926000,OPEN,10,20,10,04/04/2018 20:25:26,1.522872e+12,0.0,5.62,04/04/2018 21:00
24,45,1522870104000,OPEN,30,30,0,04/04/2018 20:28:24,1.522872e+12,0.0,5.62,04/04/2018 21:00
25,72,1522870089000,OPEN,30,31,1,04/04/2018 20:28:09,1.522872e+12,0.0,5.62,04/04/2018 21:00
26,63,1522869979000,OPEN,1,35,34,04/04/2018 20:26:19,1.522872e+12,0.0,5.62,04/04/2018 21:00
27,91,1522869916000,OPEN,21,30,9,04/04/2018 20:25:16,1.522872e+12,0.0,5.62,04/04/2018 21:00
28,99,1522869943000,OPEN,1,30,29,04/04/2018 20:25:43,1.522872e+12,0.0,5.62,04/04/2018 21:00
29,9,1522870156000,OPEN,1,24,23,04/04/2018 20:29:16,1.522872e+12,0.0,5.62,04/04/2018 21:00
...,...,...,...,...,...,...,...,...,...,...,...
218488,34,1523878099000,OPEN,1,30,29,16/04/2018 12:28:19,1.523875e+12,0.0,12.00,16/04/2018 11:30
218489,78,1523878157000,OPEN,1,40,39,16/04/2018 12:29:17,1.523875e+12,0.0,12.00,16/04/2018 11:30
218490,26,1523878054000,OPEN,20,20,0,16/04/2018 12:27:34,1.523875e+12,0.0,12.00,16/04/2018 11:30
218491,65,1523878053000,OPEN,16,40,24,16/04/2018 12:27:33,1.523875e+12,0.0,12.00,16/04/2018 11:30
218492,86,1523878170000,OPEN,0,38,38,16/04/2018 12:29:30,1.523875e+12,0.0,12.00,16/04/2018 11:30
218493,35,1523878066000,OPEN,1,30,29,16/04/2018 12:27:46,1.523875e+12,0.0,12.00,16/04/2018 11:30
218494,10,1523878179000,OPEN,10,16,5,16/04/2018 12:29:39,1.523875e+12,0.0,12.00,16/04/2018 11:30
218495,100,1523878044000,OPEN,10,25,15,16/04/2018 12:27:24,1.523875e+12,0.0,12.00,16/04/2018 11:30
218496,24,1523878117000,OPEN,6,20,14,16/04/2018 12:28:37,1.523875e+12,0.0,12.00,16/04/2018 11:30
218497,64,1523878028000,OPEN,27,40,13,16/04/2018 12:27:08,1.523875e+12,0.0,12.00,16/04/2018 11:30
218498,85,1523877944000,OPEN,1,35,34,16/04/2018 12:25:44,1.523875e+12,0.0,12.00,16/04/2018 11:30
218499,33,1523878101000,OPEN,21,23,2,16/04/2018 12:28:21,1.523875e+12,0.0,12.00,16/04/2018 11:30
218500,44,1523878069000,OPEN,2,30,28,16/04/2018 12:27:49,1.523875e+12,0.0,12.00,16/04/2018 11:30
218501,80,1523878174000,OPEN,6,40,34,16/04/2018 12:29:34,1.523875e+12,0.0,12.00,16/04/2018 11:30
218502,41,1523878129000,OPEN,17,20,2,16/04/2018 12:28:49,1.523875e+12,0.0,12.00,16/04/2018 11:30
218503,3,1523878130000,OPEN,0,20,20,16/04/2018 12:28:50,1.523875e+12,0.0,12.00,16/04/2018 11:30
218504,40,1523878135000,OPEN,1,21,20,16/04/2018 12:28:55,1.523875e+12,0.0,12.00,16/04/2018 11:30
218505,29,1523877973000,OPEN,2,29,27,16/04/2018 12:26:13,1.523875e+12,0.0,12.00,16/04/2018 11:30
218506,70,1523878167000,OPEN,35,40,5,16/04/2018 12:29:27,1.523875e+12,0.0,12.00,16/04/2018 11:30
218507,103,1523878157000,OPEN,7,40,33,16/04/2018 12:29:17,1.523875e+12,0.0,12.00,16/04/2018 11:30
218508,28,1523878088000,OPEN,8,30,22,16/04/2018 12:28:08,1.523875e+12,0.0,12.00,16/04/2018 11:30
218509,39,1523878159000,OPEN,16,20,4,16/04/2018 12:29:19,1.523875e+12,0.0,12.00,16/04/2018 11:30
218518,31,1523878192000,OPEN,1,20,19,16/04/2018 12:29:52,1.523875e+12,0.0,12.00,16/04/2018 11:30
218519,98,1523878185000,OPEN,18,30,12,16/04/2018 12:29:45,1.523875e+12,0.0,12.00,16/04/2018 11:30
218528,72,1523878184000,OPEN,10,31,21,16/04/2018 12:29:44,1.523875e+12,0.0,12.00,16/04/2018 11:30
218556,94,1523878189000,OPEN,0,40,40,16/04/2018 12:29:49,1.523875e+12,0.0,12.00,16/04/2018 11:30
218557,36,1523878200000,OPEN,37,40,3,16/04/2018 12:30:00,1.523875e+12,0.0,12.00,16/04/2018 11:30
218579,40,1523878198000,OPEN,0,21,21,16/04/2018 12:29:58,1.523875e+12,0.0,12.00,16/04/2018 11:30
218583,39,1523878180000,OPEN,16,20,4,16/04/2018 12:29:40,1.523875e+12,0.0,12.00,16/04/2018 11:30
218585,92,1523878195000,OPEN,0,40,40,16/04/2018 12:29:55,1.523875e+12,0.0,12.00,16/04/2018 11:30

In [21]:
df_n.dtypes

Station No.            float64
Status                  object
Time                     int64
Stands                   int64
Bikes Avail              int64
Spaces Avail             int64
Bank                     int64
human_readible          object
weather_tamp           float64
weather_rain           float64
weather_temperature    float64
weather_time            object
dtype: object

In [23]:
df_n['Station No.'] = df_n['Station No.'].astype(np.int64)

In [24]:
df_n.dropna(how='any')

,Station No.,Status,Time,Stands,Bikes Avail,Spaces Avail,Bank,human_readible,weather_tamp,weather_rain,weather_temperature,weather_time
0,42,OPEN,1521068603000,30,10,20,1,14/03/2018 23:03:23,1.521072e+12,0.78,8.45,15/03/2018 00:00
1,30,OPEN,1521068983000,20,20,0,1,14/03/2018 23:09:43,1.521072e+12,0.78,8.45,15/03/2018 00:00
2,54,OPEN,1521068619000,33,2,31,0,14/03/2018 23:03:39,1.521072e+12,0.78,8.45,15/03/2018 00:00
3,56,OPEN,1521068973000,40,6,34,0,14/03/2018 23:09:33,1.521072e+12,0.78,8.45,15/03/2018 00:00
4,6,OPEN,1521069146000,20,4,16,0,14/03/2018 23:12:26,1.521072e+12,0.78,8.45,15/03/2018 00:00
5,18,OPEN,1521068879000,30,7,23,1,14/03/2018 23:07:59,1.521072e+12,0.78,8.45,15/03/2018 00:00
6,32,OPEN,1521068782000,30,0,30,1,14/03/2018 23:06:22,1.521072e+12,0.78,8.45,15/03/2018 00:00
7,52,OPEN,1521069140000,32,3,29,0,14/03/2018 23:12:20,1.521072e+12,0.78,8.45,15/03/2018 00:00
8,48,OPEN,1521068970000,40,9,31,0,14/03/2018 23:09:30,1.521072e+12,0.78,8.45,15/03/2018 00:00
9,13,OPEN,1521068602000,30,0,30,0,14/03/2018 23:03:22,1.521072e+12,0.78,8.45,15/03/2018 00:00
10,43,OPEN,1521068852000,30,20,10,1,14/03/2018 23:07:32,1.521072e+12,0.78,8.45,15/03/2018 00:00
11,81,OPEN,1521068992000,40,37,3,0,14/03/2018 23:09:52,1.521072e+12,0.78,8.45,15/03/2018 00:00
12,31,OPEN,1521068723000,20,5,15,0,14/03/2018 23:05:23,1.521072e+12,0.78,8.45,15/03/2018 00:00
13,98,OPEN,1521068772000,30,0,30,1,14/03/2018 23:06:12,1.521072e+12,0.78,8.45,15/03/2018 00:00
14,14,OPEN,1521068981000,30,7,23,0,14/03/2018 23:09:41,1.521072e+12,0.78,8.45,15/03/2018 00:00
15,1,OPEN,1521068629000,31,6,25,0,14/03/2018 23:03:49,1.521072e+12,0.78,8.45,15/03/2018 00:00
16,23,OPEN,1521068849000,30,4,26,1,14/03/2018 23:07:29,1.521072e+12,0.78,8.45,15/03/2018 00:00
17,68,OPEN,1521069044000,40,2,38,1,14/03/2018 23:10:44,1.521072e+12,0.78,8.45,15/03/2018 00:00
18,74,OPEN,1521068603000,30,24,6,0,14/03/2018 23:03:23,1.521072e+12,0.78,8.45,15/03/2018 00:00
19,87,OPEN,1521068729000,38,19,19,1,14/03/2018 23:05:29,1.521072e+12,0.78,8.45,15/03/2018 00:00
20,84,OPEN,1521068978000,30,18,12,0,14/03/2018 23:09:38,1.521072e+12,0.78,8.45,15/03/2018 00:00
21,90,CLOSED,1521069052000,40,0,0,0,14/03/2018 23:10:52,1.521072e+12,0.78,8.45,15/03/2018 00:00
22,11,OPEN,1521068602000,30,0,30,0,14/03/2018 23:03:22,1.521072e+12,0.78,8.45,15/03/2018 00:00
23,17,OPEN,1521068933000,20,8,12,0,14/03/2018 23:08:53,1.521072e+12,0.78,8.45,15/03/2018 00:00
24,45,OPEN,1521068602000,30,17,13,0,14/03/2018 23:03:22,1.521072e+12,0.78,8.45,15/03/2018 00:00
25,72,OPEN,1521069136000,31,26,5,0,14/03/2018 23:12:16,1.521072e+12,0.78,8.45,15/03/2018 00:00
26,63,OPEN,1521069131000,35,1,34,0,14/03/2018 23:12:11,1.521072e+12,0.78,8.45,15/03/2018 00:00
27,91,OPEN,1521069012000,30,3,27,0,14/03/2018 23:10:12,1.521072e+12,0.78,8.45,15/03/2018 00:00
28,99,OPEN,1521068962000,30,5,25,0,14/03/2018 23:09:22,1.521072e+12,0.78,8.45,15/03/2018 00:00
29,9,OPEN,1521069080000,24,1,23,0,14/03/2018 23:11:20,1.521072e+12,0.78,8.45,15/03/2018 00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
17047,97,OPEN,1521669421000,40,36,4,1,21/03/2018 21:57:01,1.521666e+12,0.33,9.22,21/03/2018 21:00
17048,73,OPEN,1521669487000,30,22,8,1,21/03/2018 21:58:07,1.521666e+12,0.33,9.22,21/03/2018 21:00
17049,4,OPEN,1521669377000,20,5,15,0,21/03/2018 21:56:17,1.521666e+12,0.33,9.22,21/03/2018 21:00
17050,19,OPEN,1521669529000,30,2,28,0,21/03/2018 21:58:49,1.521666e+12,0.33,9.22,21/03/2018 21:00
17051,7,OPEN,1521669474000,29,18,11,1,21/03/2018 21:57:54,1.521666e+12,0.33,9.22,21/03/2018 21:00
17052,60,OPEN,1521669506000,30,16,14,1,21/03/2018 21:58:26,1.521666e+12,0.33,9.22,21/03/2018 21:00
17053,102,OPEN,1521669354000,40,30,10,0,21/03/2018 21:55:54,1.521666e+12,0.33,9.22,21/03/2018 21:00
17054,53,OPEN,1521669572000,40,0,40,0,21/03/2018 21:59:32,1.521666e+12,0.33,9.22,21/03/2018 21:00
17055,58,OPEN,1521669492000,40,6,33,1,21/03/2018 21:58:12,1.521666e+12,0.33,9.22,21/03/2018 21:00
17056,66,OPEN,1521669569000,40,8,32,0,21/03/2018 21:59:29,1.521666e+12,0.33,9.22,21/03/2018 21:00
17057,8,OPEN,1521669568000,30,1,29,0,21/03/2018 21:59:28,1.521666e+12,0.33,9.22,21/03/2018 21:00
17058,96,OPEN,1521669570000,30,10,20,0,21/03/2018 21:59:30,1.521666e+12,0.33,9.22,21/03/2018 21:00
17059,76,OPEN,1521669503000,38,33,5,0,21/03/2018 21:58:23,1.521666e+12,0.33,9.22,21/03/2018 21:00
17060,69,OPEN,1521669477000,40,4,35,0,21/03/2018 21:57:57,1.521666e+12,0.33,9.22,21/03/2018 21:00
17061,25,OPEN,1521669367000,30,7,23,0,21/03/2018 21:56:07,1.521666e+12,0.33,9.22,21/03/2018 21:00
17062,51,OPEN,1521669291000,40,3,37,0,21/03/2018 21:54:51,1.521666e+12,0.33,9.22,21/03/2018 21:00
17063,59,OPEN,1521669489000,20,11,9,0,21/03/2018 21:58:09,1.521666e+12,0.33,9.22,21/03/2018 21:00
17064,36,OPEN,1521669453000,40,9,31,1,21/03/2018 21:57:33,1.521666e+12,0.33,9.22,21/03/2018 21:00
17065,93,OPEN,1521669333000,40,40,0,0,21/03/2018 21:55:33,1.521666e+12,0.33,9.22,21/03/2018 21:00
17066,34,OPEN,1521669507000,30,23,7,0,21/03/2018 21:58:27,1.521666e+12,0.33,9.22,21/03/2018 21:00
17067,2,OPEN,1521669566000,20,7,13,1,21/03/2018 21:59:26,1.521666e+12,0.33,9.22,21/03/2018 21:00
17068,65,OPEN,1521669505000,40,2,38,1,21/03/2018 21:58:25,1.521666e+12,0.33,9.22,21/03/2018 21:00
17069,15,OPEN,1521669454000,16,8,8,0,21/03/2018 21:57:34,1.521666e+12,0.33,9.22,21/03/2018 21:00
17070,86,OPEN,1521669530000,38,38,0,1,21/03/2018 21:58:50,1.521666e+12,0.33,9.22,21/03/2018 21:00
17071,100,OPEN,1521669285000,25,24,1,0,21/03/2018 21:54:45,1.521666e+12,0.33,9.22,21/03/2018 21:00
17072,24,OPEN,1521669298000,20,0,20,0,21/03/2018 21:54:58,1.521666e+12,0.33,9.22,21/03/2018 21:00
17073,85,OPEN,1521669440000,35,21,14,1,21/03/2018 21:57:20,1.521666e+12,0.33,9.22,21/03/2018 21:00
17074,33,OPEN,1521669567000,23,8,15,1,21/03/2018 21:59:27,1.521666e+12,0.33,9.22,21/03/2018 21:00
17075,89,CLOSED,1521669557000,40,0,0,1,21/03/2018 21:59:17,1.521666e+12,0.33,9.22,21/03/2018 21:00
17076,80,OPEN,1521669392000,40,32,8,0,21/03/2018 21:56:32,1.521666e+12,0.33,9.22,21/03/2018 21:00

In [28]:
df=df_n.drop(["human_readible","weather_tamp","weather_time"],1)

In [29]:
df.head()

,Station No.,Status,Time,Stands,Bikes Avail,Spaces Avail,Bank,weather_rain,weather_temperature
0,42,OPEN,1521068603000,30,10,20,1,0.78,8.45
1,30,OPEN,1521068983000,20,20,0,1,0.78,8.45
2,54,OPEN,1521068619000,33,2,31,0,0.78,8.45
3,56,OPEN,1521068973000,40,6,34,0,0.78,8.45
4,6,OPEN,1521069146000,20,4,16,0,0.78,8.45

In [31]:
df_2=df_h.drop(["time","weather_tamp","weather_time"],1)

In [33]:
df_2.head()

,STATION_NUMBER,TIME,STATUS,NUMBER_OF_BIKES,NUMBER_OF_STANDS,NUMBER_OF_SPACES,weather_rain,weather_temperature
0,42,1522870172000,OPEN,24,30,6,0.0,5.62
1,30,1522870134000,OPEN,14,20,6,0.0,5.62
2,54,1522870172000,OPEN,2,33,31,0.0,5.62
3,56,1522870069000,OPEN,15,40,25,0.0,5.62
4,6,1522870167000,OPEN,7,20,12,0.0,5.62

In [34]:
df_name = df.columns

In [35]:
df_name

Index(['Station No.', 'Status', 'Time', 'Stands', 'Bikes Avail',
       'Spaces Avail', 'Bank', 'weather_rain', 'weather_temperature'],
      dtype='object')

In [36]:
df.rename(columns={'Station No.': 'STATION_NUMBER','Time':'TIME','Status':"STATUS",'Stands':'NUMBER_OF_STANDS','Bikes Avail':'NUMBER_OF_BIKES','Spaces Avail':'NUMBER_OF_SPACES'})

,STATION_NUMBER,STATUS,TIME,NUMBER_OF_STANDS,NUMBER_OF_BIKES,NUMBER_OF_SPACES,Bank,weather_rain,weather_temperature
0,42,OPEN,1521068603000,30,10,20,1,0.78,8.45
1,30,OPEN,1521068983000,20,20,0,1,0.78,8.45
2,54,OPEN,1521068619000,33,2,31,0,0.78,8.45
3,56,OPEN,1521068973000,40,6,34,0,0.78,8.45
4,6,OPEN,1521069146000,20,4,16,0,0.78,8.45
5,18,OPEN,1521068879000,30,7,23,1,0.78,8.45
6,32,OPEN,1521068782000,30,0,30,1,0.78,8.45
7,52,OPEN,1521069140000,32,3,29,0,0.78,8.45
8,48,OPEN,1521068970000,40,9,31,0,0.78,8.45
9,13,OPEN,1521068602000,30,0,30,0,0.78,8.45
10,43,OPEN,1521068852000,30,20,10,1,0.78,8.45
11,81,OPEN,1521068992000,40,37,3,0,0.78,8.45
12,31,OPEN,1521068723000,20,5,15,0,0.78,8.45
13,98,OPEN,1521068772000,30,0,30,1,0.78,8.45
14,14,OPEN,1521068981000,30,7,23,0,0.78,8.45
15,1,OPEN,1521068629000,31,6,25,0,0.78,8.45
16,23,OPEN,1521068849000,30,4,26,1,0.78,8.45
17,68,OPEN,1521069044000,40,2,38,1,0.78,8.45
18,74,OPEN,1521068603000,30,24,6,0,0.78,8.45
19,87,OPEN,1521068729000,38,19,19,1,0.78,8.45
20,84,OPEN,1521068978000,30,18,12,0,0.78,8.45
21,90,CLOSED,1521069052000,40,0,0,0,0.78,8.45
22,11,OPEN,1521068602000,30,0,30,0,0.78,8.45
23,17,OPEN,1521068933000,20,8,12,0,0.78,8.45
24,45,OPEN,1521068602000,30,17,13,0,0.78,8.45
25,72,OPEN,1521069136000,31,26,5,0,0.78,8.45
26,63,OPEN,1521069131000,35,1,34,0,0.78,8.45
27,91,OPEN,1521069012000,30,3,27,0,0.78,8.45
28,99,OPEN,1521068962000,30,5,25,0,0.78,8.45
29,9,OPEN,1521069080000,24,1,23,0,0.78,8.45
...,...,...,...,...,...,...,...,...,...
17047,97,OPEN,1521669421000,40,36,4,1,0.33,9.22
17048,73,OPEN,1521669487000,30,22,8,1,0.33,9.22
17049,4,OPEN,1521669377000,20,5,15,0,0.33,9.22
17050,19,OPEN,1521669529000,30,2,28,0,0.33,9.22
17051,7,OPEN,1521669474000,29,18,11,1,0.33,9.22
17052,60,OPEN,1521669506000,30,16,14,1,0.33,9.22
17053,102,OPEN,1521669354000,40,30,10,0,0.33,9.22
17054,53,OPEN,1521669572000,40,0,40,0,0.33,9.22
17055,58,OPEN,1521669492000,40,6,33,1,0.33,9.22
17056,66,OPEN,1521669569000,40,8,32,0,0.33,9.22
17057,8,OPEN,1521669568000,30,1,29,0,0.33,9.22
17058,96,OPEN,1521669570000,30,10,20,0,0.33,9.22
17059,76,OPEN,1521669503000,38,33,5,0,0.33,9.22
17060,69,OPEN,1521669477000,40,4,35,0,0.33,9.22
17061,25,OPEN,1521669367000,30,7,23,0,0.33,9.22
17062,51,OPEN,1521669291000,40,3,37,0,0.33,9.22
17063,59,OPEN,1521669489000,20,11,9,0,0.33,9.22
17064,36,OPEN,1521669453000,40,9,31,1,0.33,9.22
17065,93,OPEN,1521669333000,40,40,0,0,0.33,9.22
17066,34,OPEN,1521669507000,30,23,7,0,0.33,9.22
17067,2,OPEN,1521669566000,20,7,13,1,0.33,9.22
17068,65,OPEN,1521669505000,40,2,38,1,0.33,9.22
17069,15,OPEN,1521669454000,16,8,8,0,0.33,9.22
17070,86,OPEN,1521669530000,38,38,0,1,0.33,9.22
17071,100,OPEN,1521669285000,25,24,1,0,0.33,9.22
17072,24,OPEN,1521669298000,20,0,20,0,0.33,9.22
17073,85,OPEN,1521669440000,35,21,14,1,0.33,9.22
17074,33,OPEN,1521669567000,23,8,15,1,0.33,9.22
17075,89,CLOSED,1521669557000,40,0,0,1,0.33,9.22
17076,80,OPEN,1521669392000,40,32,8,0,0.33,9.22

In [ ]:
df =